POSTGRES_DB=escape_room
POSTGRES_USER=escape_room
POSTGRES_PASSWORD=replace-with-a-long-random-database-password
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace-with-a-long-unique-admin-password
APP_PORT=8088
